.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.arabic {
	font-family: Scheherazade;
}

.appBody {
	min-height: calc(150px - 3vw);

}

.appTitleArabic {
	font-family: Scheherazade;
	font-size: 30px;
}

.appBodyArabic {
	font-family: Scheherazade;
	font-size: 20px;
	min-height: calc(150px - 3vw);
}

@media only screen and (max-width: 600px) {
	.appBody {
		min-height: auto;
	}
	.appBodyArabic {
		min-height: auto;
	}
}