.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.arabic {
	/* font-family: Scheherazade  !important; */
	direction: rtl;
}

.appBody {
	/* min-height: calc(150px - 3vw); */

}

.tifinagh {
  font-family: Tifinagh !important;
} 

.appTitleArabic {
	/* font-family: Scheherazade  !important; */
	font-size: 34px !important;
	direction: rtl;
}

.appBodyArabic {
	/* font-family: Scheherazade  !important; */
	font-size: 24px !important;
	direction: rtl;
	/* min-height: calc(150px - 3vw); */
}

.menuButton {
	border: none;
	background-color: #fff;
	padding: 10px;
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: row;
}

.menuButton:hover {
	background-color: #999;
	/* transition: background-color .5s ease; */
	cursor: pointer;

}

@media only screen and (max-width: 600px) {
	.appBody {
		min-height: auto;
	}
	.appBodyArabic {
		min-height: auto;
	}
}