

.title {
  text-transform: lowercase;
  margin-right: 10px;
  font-size: 20px  !important;
}

.titleArabic {
  font-family: Scheherazade !important;
  font-size: 32px !important;
  margin-right: 10px;
  direction: rtl;
}

.titleTif {
  font-family: Tifinagh;
  margin-right: 10px;
  font-size: 20px  !important;
}

.link {
  text-transform: lowercase;
  line-height: 20px;

}

.linkArabic {
  font-family: Scheherazade  !important;
  font-size: 22px !important;
  line-height: 20px;
  direction: rtl;
}

