

.title {
  text-transform: lowercase;
  margin-right: 30px;
  font-size: 35px !important;
}

.titleArabic {
  font-family: Scheherazade !important;
  font-size: 45px !important;
  direction: rtl;
}

.titleTif {
  font-family: Tifinagh;
  margin-right: 35px;
  font-size: 30px !important;
}

.link {
  text-transform: lowercase;
  line-height: 25px;
  font-size: 20px;
}

.linkArabic {
  font-family: Scheherazade  !important;
  font-size: 27px !important;
  line-height: 25px;
  direction: rtl;
}

