

.title {
  text-transform: lowercase;
  font-size: 35px !important;
}

.titleSmall {
  text-transform: lowercase;
  font-size: 20px !important;
}

.titleArabic {
  font-family: Scheherazade !important;
  font-size: 45px !important;
  direction: rtl;
}

.titleArabicSmall {
  font-family: Scheherazade !important;
  font-size: 30px !important;
  direction: rtl;
}

.titleTif {
  font-family: Tifinagh;
  font-size: 30px !important;
}

.titleTifSmall {
  font-family: Tifinagh;
  font-size: 20px !important;
}

.link {
  text-transform: lowercase;
  line-height: 25px;
  font-size: 20px;
}

.linkArabic {
  font-family: Scheherazade  !important;
  font-size: 27px !important;
  line-height: 25px;
  direction: rtl;
}

.button:hover {
  background-color: rgba(0,0,0,0.5) !important;
}

.buttonLink:hover {
  text-decoration: none !important;
}

