@import url('bulma/css/bulma.css');
@import url('material-design-icons/iconfont/material-icons.css');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

@font-face {
	font-family: Scheherazade;
	src: url('../assets/fonts/ScheherazadeOTM2A.ttf') format('truetype');
}
