html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f2f3f4;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

canvas {
	margin: auto;
}

.pdfPage {
	height: 100%;
	width: 100%;
}

@font-face {
  font-family: Scheherazade;
  src: url('../assets/fonts/ScheherazadeOTM2A.ttf') format('truetype');
  font-display: swap;
  /* unicode-range: U+0-2f, U+40-10FFFF; */
}

@font-face {
  font-family: ScheherazadeNew;
  src: url('../assets/fonts/ScheherazadeNew-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Tashelhayt;
  src: url('../assets/fonts/TashelhaytSILDoulos.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Tifinagh;
  src: url('../assets/fonts/Tifinagh.ttf') format('truetype');
  font-display: swap;
}
